<div class="container mt-5 text-center">
	<h2 class="text-danger">YETKİNİZ YOK</h2>
	<p>Bu Sayfaya erişim izniniz bulunmamaktadır.</p>
	<a asp-controller="Product" asp-action="Index" class="btn btn-primary btn-lg">Ürünlere Geri Dön</a>
</div>
