@using MiniShopMVC.Models
@model MiniShopMVC.Models.Product

<div class="container mt-5">
	<div class="col col-md-6">
		<div class="card shadow">
			<div class="card-header bg-warning text-dark">
				<h4 class="mb-0">Ürün Düzenle</h4>
				<div class="card-body">
					<form asp-action="Edit" method="post" enctype="multipart/form-data">
						<input asp-for="Id" type="hidden" />

						<div class="mb-3">
							<label>Ürün Adı:</label>
							<input asp-for="Name" class="form-control" />
							<span asp-validation-for="Name" class="text-bg-danger"></span>
						</div>

						<div class="mb-3">
							<label>Fiyat:</label>
							<input asp-for="Price" class="form-control" type="number" step="0.01" />
							<span asp-validation-for="Price" class="text-bg-danger"></span>
						</div>

						<div class="mb-3">
							<label>Açıklama:</label>
							<textarea asp-for="Description" class="form-control"></textarea>
							<span asp-validation-for="Description" class="text-bg-danger"></span>
						</div>

						<div class="mb-3">
							<label>ResimUrl</label>
							<input asp-for="ImageUrl" class="form-control" />
							<span asp-validation-for="ImageUrl" class="text-bg-danger"></span>
						</div>

						<div class="mb-3">
							<label>Kategori</label>
							<select asp-for="CategoryId" class="form-control">
								@foreach (var category in ViewBag.Categories)
								{
									<option value="@category.Id">@category.Name</option>
								}
							</select>
						</div>

						<div class="mb-3">
							<label asp-for="Stock" class="form-label"></label>
							<input asp-for="Stock" class="form-control" />
							<span asp-validation-for="Stock" class="text-bg-danger"></span>
						</div>

						@if (!string.IsNullOrEmpty(Model.ImageUrl))
						{
							<div class="mb3">
								<img  src="@Model.ImageUrl" width="150" class="img-thumbnail"/>
							</div>
						}

						<div class="mb-3">
							<label class="form-label">Yeni Resim</label>
							<input type="file" name="imageFile" class="form-control" accept="image/*" />
							<small class="text-muted">REsim seçmezsen mevcut resim korunacaktır.</small>
						</div>

						<div class="d-flex justify-content-end gap-2">
							<a asp-action="Index" class="btn btn-secondary">Vazgeç</a>
							<button class="btn btn-success">Kaydet</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}